<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projet">
            <h2><span jhiTranslate="espfSampleApplicationApp.projet.detail.title">Projet</span> {{ projet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="espfSampleApplicationApp.projet.nom">Nom</span></dt>
                <dd>
                    <span>{{ projet.nom }}</span>
                </dd>
                <dt><span jhiTranslate="espfSampleApplicationApp.projet.devise">Devise</span></dt>
                <dd>
                    <span>{{ projet.devise }}</span>
                </dd>
                <dt><span jhiTranslate="espfSampleApplicationApp.projet.periodicite">Periodicite</span></dt>
                <dd>
                    <span>{{ projet.periodicite }}</span>
                </dd>
                <dt><span jhiTranslate="espfSampleApplicationApp.projet.utilisateur">Utilisateur</span></dt>
                <dd>
                    <div *ngIf="projet.utilisateur">
                        <a [routerLink]="['/utilisateur', projet.utilisateur?.id, 'view']">{{ projet.utilisateur?.login }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/projet', projet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
